header{
     background-color: bisque;
}
h1{

    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:xx-large;
    font-style: initial;
    color: hsl(24, 93%, 48%);;

}
p {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    font-size:x-large;
    color:rgb(207, 160, 6);
}
.box1{
     background-color: brown;
        height: 600px;
        width: 600px;
        margin: auto;
        text-align: center;
        padding: 10px;
        border-radius: 130px;
    }

#parrah{
    text-align:center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200;
    font-size:large;
}
h2{
    text-align: center;
    font-size:xx-large;
    font-weight: 800;

}
.profileakan{
    height: 250px;
    width: 300px;
    margin: auto;
}